<VirtualHost *:443>
    ServerName futuremindz.com
    ServerAlias www.futuremindz.com

    DocumentRoot /var/www/futuremindz

    <Directory /var/www/futuremindz>
        Options FollowSymLinks
        AllowOverride All
        Require all granted

        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^ /index.html [L]
    </Directory>

    ProxyPreserveHost On
        ProxyPass /api http://localhost:3001/api
        ProxyPassReverse /api http://localhost:3001/api


    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/futuremindz.com/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/futuremindz.com/privkey.pem

    ErrorLog ${APACHE_LOG_DIR}/futuremindz_error.log
    CustomLog ${APACHE_LOG_DIR}/futuremindz_access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName futuremindzllp.com
    ServerAlias www.futuremindzllp.com

    DocumentRoot /var/www/futuremindzllp

    <Directory /var/www/futuremindzllp>
        Options FollowSymLinks
        AllowOverride All
        Require all granted

        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^ /index.html [L]
    </Directory>

        ProxyPreserveHost On
        ProxyPass /api http://localhost:3001/api
        ProxyPassReverse /api http://localhost:3001/api


    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/futuremindz.com/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/futuremindz.com/privkey.pem

    ErrorLog ${APACHE_LOG_DIR}/futuremindzllp_error.log
    CustomLog ${APACHE_LOG_DIR}/futuremindzllp_access.log combined
</VirtualHost>
